/*

Color Palette:
PRIMARY -- Metallic Sunburst...............................#A98743
SECONDARY -- Eggshell......................................#EEEBD3 
TERTIARY -- Teal Blue......................................#437C90
TERTIARY -- Dark Slate Gray................................#255957
ACCENT -- Maize Crayola....................................#F7C548

Table of Contents (copy and paste to 'find' to jump to a section.

- Background Border Animation -
- Media Queries -
- Header Styling -
- Styling by Section -

*/

/* Background Border Animation */
html {
  background-color: #EEEBD3;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}  

/* Media Queries */

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 40%;
  }
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  html {
    font-size: 40%;
  }
}

/* Header Styling */

h1 {
  text-align: center;
  background-color: #437C90;
  color: #EEEBD3;
  padding: 10px 10px 10px 10px;
  font-family: Arial;
  font-size: 48px;
  border: solid;
  border-color: #F7C548;
  border-width: 5px;
}

h1:hover {
  text-align: center;
  background-color: #255957;
  color: #F7C548;
  padding: 10px 10px 10px 10px;
  font-family: Arial;
  font-size: 48px;
  border: solid;
  border-color: #437C90;
  border-width: 6px;
  box-shadow:
    0 0 15px 7px #EEEBD3,  /* inner white */
    0 0 25px 15px #F7C548, /* middle magenta */
    0 0 35px 15px #437C90; /* outer cyan */
}

.h2-Intro {
  text-align: center;
  color: #EEEBD3;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 36px;
  margin: 0px 0px 0px 0px;
  padding: 10px 10px 10px 10px;
}

.h2-Intro:hover {
  text-align: center;
  color: #F7C548;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 38px;
  margin: 0px 0px 0px 0px;
  padding: 10px 10px 10px 10px;
}

.h2-projects {
  text-align: center;
  color: #F7C548;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 36px;
  margin: 0px 0px 0px 0px;
  padding: 10px 10px 10px 10px;
  background-color: #255957;
}

.h2-projects:hover {
  text-align: center;
  color: #EEEBD3;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 38px;
  margin: 0px 0px 0px 0px;
  padding: 10px 10px 10px 10px;
  background-color: #255957;
}

.h2-Contact {
  text-align: center;
  color: #EEEBD3;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 36px;
  margin: 0px 0px 0px 0px;
  padding: 10px 10px 10px 10px;
}

.h2-Contact:hover {
  text-align: center;
  color: #F7C548;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 38px;
  margin: 0px 0px 0px 0px;
  padding: 10px 10px 10px 10px;
}

h3 a:link { color: #EEEBD3; }
h3 a:visited { color: #EEEBD3; }
h3 a:hover { color: #F7C548; }
h3 a:active { color: #F7C548; }


.h3-Intro {
  text-align: center;
  color: #EEEBD3;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 28px;
  border: solid;
  border-color: #F7C548;
  border-width: 3px;
}

.h3-Intro:hover {
  text-align: center;
  color: #F7C548;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 28px;
  border: solid;
  border-color: #255957;
  border-width: 4px;
  box-shadow:
    0 0 15px 7px #EEEBD3,  /* inner white */
    0 0 25px 15px #F7C548, /* middle magenta */
    0 0 35px 15px #437C90; /* outer cyan */
}

.h3-projects {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 28px;
  border: solid;
  border-color: #F7C548;
  border-width: 3px;
  background-color: #255957;
}

.h3-projects:hover {
  text-align: center;
  color: #F7C548;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 28px;
  border: solid;
  border-color: #437C90;
  border-width: 4px;
  box-shadow:
    0 0 15px 7px #EEEBD3,  /* inner white */
    0 0 25px 15px #F7C548, /* middle magenta */
    0 0 35px 15px #437C90; /* outer cyan */
}

.h3-Contact {
  text-align: center;
  color: #EEEBD3;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 28px;
  border: solid;
  border-color: #F7C548;
  border-width: 3px;
}

.h3-Contact:hover {
  text-align: center;
  color: #F7C548;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 28px;
  border: solid;
  border-color: #255957;
  border-width: 4px;
  box-shadow:
    0 0 15px 7px #EEEBD3,  /* inner white */
    0 0 25px 15px #F7C548, /* middle magenta */
    0 0 35px 15px #437C90; /* outer cyan */
}

/* Styling by Section */

body {
  background-color: #A98743;
  color: #EEEBD3;
}

.welcome-section {
  text-align: center;
  background-color: #255957;
  color: #EEEBD3;
  padding: 5px 10px 30px 10px;
}

footer {
  background-color: #255957;
  color: #EEEBD3;
  padding: 40px 40px 40px 40px;
}

.copyright {
  text-align: right;
  margin: -27px 0px 0px 0px;
}

.copyright:link {
  color: #EEEBD3;
}
.copyright:visited {
  color: #EEEBD3;
}
.copyright:hover {
  color: #F7C548;
}
.copyright:active {
  color: #F7C548;
}

.footer-link {
  text-align: left;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1rem;
}

.footer-link:link { color: #EEEBD3; }
.footer-link:visited { color: #F7C548; }
.footer-link:hover { color: orange; }
.footer-link:active { color: #F7C548; }

ul { 
  list-style: none;
  display: flex;
  justify-content: center;
}
.navbar {
  background-color: #437C90;
  border: solid;
  border-color: #F7C548;
  border-width: 3px;
  padding: 1rem;
  font-size: 2rem;
}

.navbar:link { color: #EEEBD3; }
.navbar:visited { color: #EEEBD3; }
.navbar:active { color: #F7C548; }
.navbar:hover {
  background-color: #255957;
  color: #F7C548;
  border-color: #437C90;
  border-width: 3px;
  box-shadow:
    0 0 15px 7px #EEEBD3,  /* inner white */
    0 0 25px 15px #F7C548, /* middle magenta */
    0 0 35px 15px #437C90; /* outer cyan */
}

.intro-p {
  text-align: center;
  color: #EEEBD3;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: 0px 0px 0px 0px;
  padding: 10px 10px 10px 10px;
  font-size: 24px;
}

.intro-p-bottom {
  text-align: center;
  color: #EEEBD3;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: 0px 0px 0px 0px;
  padding: 10px 20px 20px 20px;
  font-size: 24px;
}

.project-tile {
  text-align: center;
  color: #EEEBD3;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: 0px 0px 0px 0px;
  padding: 10px 10px 10px 10px;
  font-size: 24px;
}
.project-tile:hover { color: #F7C548; }
.project-tile:active { color: salmon; }

.project-tile-bottom {
  text-align: center;
  color: #EEEBD3;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: 0px 0px 0px 0px;
  padding: 15px 30px 30px 30px;
  font-size: 24px;
}

.project-tile-bottom:hover { color: #F7C548; }
.project-tile-bottom:active { color: #F7C548; }

.contact-p {
  text-align: center;
  color: #EEEBD3;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: 0px 0px 0px 0px;
  padding: 10px 10px 10px 10px;
  font-size: 24px;
}

.contact-p-bottom {
  text-align: center;
  color: #EEEBD3;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: 0px 0px 0px 0px;
  padding: 10px 20px 20px 20px;
  font-size: 24px;
}

strong { color: #EEEBD3; }
strong:hover { color: #F7C548; }

.email-text { text-align: center; color: hsl(12, 11%, 91%); }
.email-text:hover { color: #F7C548; }
.email-text:active { color: #F7C548; }

.LinkedIn-link { text-align: center; }
.LinkedIn-link:link { color: #EEEBD3; }
.LinkedIn-link:visited { color: #EEEBD3; }
.LinkedIn-link:hover { color: #F7C548; }
.LinkedIn-link:active { color: #F7C548; }

.GitHub-link { text-align: center; }
.GitHub-link:link { color: #EEEBD3; }
.GitHub-link:visited { color: #EEEBD3; }
.GitHub-link:hover { color: #F7C548; }
.GitHub-link:active { color: #F7C548; }

.intro-section {
  text-align: center;
  background-color: #437C90;
  color: #EEEBD3;
}

.projects-section {
  text-align: center;
  background-color: #255957;
  color: #EEEBD3;
}

.contact-section {
  text-align: center;
  background-color: #437C90;
  color: #EEEBD3;
}

.retrowave {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 27.5%;
}

.ben-pic {
  margin: 0px 0px 25px 0px;
  border: solid;
  border-color: #F7C548;
  border-width: 5px;
}

.ben-pic:hover {
  margin: 0px 0px 25px 0px;
  border: solid;
  border-width: 6px;
  background: linear-gradient(-45deg, orange, salmon, green, #F7C548);
	background-size: 100%;
	animation: gradient 5s ease infinite;
}
